.hero{
    background-color:rgb(0, 140, 255);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.hero-content{
    max-width: 600px;
}
.hero-title{
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.hero-subtitle{
    font-size: 1.2rem;
    margin-bottom:2rem;
}

.cta-button{
    background-color: aliceblue;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-weight: bold;
}